body {
    margin: 0;
}
.navbar {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: auto;
    background-color: #28c2ff;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    transition: all 1s;
}
.navbar a {
    display: table-cell;
    border-left: 1px solid #89daff;
    width: 100%;
    height: auto;
    font-size: 2vw;
    transition: 1s all;
    text-decoration: none;
    color: #173753;
}
.navbar a:hover {
    background-color: #2191fb;
}
.navbar a.active {
    background-color: #142c52;
    color: #89daff;
}
.navbar a p {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 10px 0;
    font-size: 30px;
    vertical-align: middle;
}