<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello world</title>
  </head>
  <body>
  <div>
    Hello world! I'm alive. Congrats for finding me. Here's a small easter egg for you 🐣
  </div>
  </body>
</html>