<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head.njk" %}
    <title>{{appname}}</title>
  </head>
  <body>
    <div id="app"/>
    <script src="/bundle.js" type="text/javascript"></script>
  </body>
</html>