body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  width: 100%;
  height: 100px;
  display: block;
  background-color: #2191fb;
  color: #173753;
  float: right;
  position: fixed;
  top: 0;
  left: 0;
}
.navbar li {
  border-right: 1px solid #89daff;
}
.navbar li:last-child {
  border-right: none;
}